fastapi
uvicorn[standard]
python-dotenv
pydantic[email]
pydantic-settings
sqlalchemy[asyncio]
asyncpg
aiosqlite
python-jose[cryptography]
passlib[bcrypt]
loguru
slowapi
python-multipart
supabase
mediapipe
ultralytics
opencv-python-headless
pytesseract
sentence-transformers
redis
celery
httpx
pytest
pytest-asyncio
